
target/

**/*.rs.bk
debug/

# SQLite database files
*.db
*.db-shm
*.db-wal

# --- OS / Editor System Files ---
# Mac
.DS_Store

# Windows
Thumbs.db

# Editors (VS Code, IntelliJ Rust, Vim etc.)
.vscode/
.idea/
*.swp
*.iml